/* screen - student2 */

.student2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1920px;
}

.student2 .overlap-group {
  align-items: center;
  background-color: var(--jacarta);
  display: flex;
  gap: 356px;
  height: 1080px;
  min-width: 1920px;
  padding: 36px;
}

.student2 .back {
  align-items: center;
  align-self: flex-end;
  background-color: var(--jacarta);
  cursor: pointer;
  display: flex;
  gap: 19px;
  height: 88px;
  min-width: 266px;
  padding: 0 11px;
}

.student2 .student-frame2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 1004px;
  padding: 1px 0;
  width: 604px;
}

.student2 .kaila2-1 {
  height: 256px;
  margin-top: 45px;
  object-fit: cover;
  width: 256px;
}

.student2 .kaila-hunley {
  letter-spacing: 3.60px;
  line-height: 35px;
  margin-top: 15px;
  min-height: 52px;
  text-align: center;
  width: 364px;
}

.student2 .student2-desc {
  letter-spacing: 2.40px;
  line-height: 24px;
  margin-top: 66px;
  min-height: 568px;
  width: 524px;
}
